*.log
*.aux
*.fdb_latexmk
*.fls
*.nlo
*.out
*.synctex.gz
*.gz
*.circ
*.toc
/ARCHIVOS/ArquitecturaComputadores/Laboratorios/
/ARCHIVOS/GestionEstrategica/Tareas
/ARCHIVOS/Semestre8/InteligenciaArtificial/InteligenciaArtificial
/ARCHIVOS/Semestre8/SistemasOperativos/Laboratorios
ARCHIVOS/Semestre8/Legislacion/.vscode/